mat-toolbar {
   box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
   ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
   }
   a {
      text-decoration: none;
      color: white;
   }
   .space {
      flex: 1 1 auto;
   }
   
   // floating header for use :)
   .bloop-header {
      -webkit-animation-name: bloop;
      -webkit-animation-duration: 2s;
      animation-timing-function: ease-in;
      -webkit-animation-direction: alternate;
      -webkit-animation-iteration-count: infinite;
      animation-name: bloop;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-direction: alternate;
      animation-iteration-count: infinite;
   }
   

   @-webkit-keyframes bloop {
      from {
          transform: translate3d(0, -10px, 0)
      }
   
      to {
          transform: translate3d(0, 0, 0)
      }
   }
   
   
   @keyframes bloop {
      from {
          transform: translate3d(0, -10px, 0)
      }
   
      to {
          transform: translate3d(0, 0, 0)
      }
   }
}

// standard box shadow for use :)
.nav-bar-standard-box-shadow {
   box-shadow: 0 5px 5px -5px #636363;
}

.card-standard-box-shadow {
   box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}