
<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile-header>
    <h2>Login</h2>
  </mat-grid-tile-header>

  <form [formGroup]="loginForm" (submit)="onSignIn()">
    <mat-grid-tile rowspan="2">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email').invalid">Please enter valid Email</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').invalid">Please enter valid Password</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile >
      <button mat-raised-button color="primary"  type="submit"> 
        Sign In 
        <mat-icon aria-hidden="false" class="material-icons">subdirectory_arrow_right</mat-icon>
      </button>
    </mat-grid-tile>
  </form>
</mat-grid-list>