:host {
   display: block;
   margin-top: 1rem;
   width: 80%;
   margin: auto;
}

h4 {
   color: #54BDD5;
}

mat-form-field, textarea {
   width: 100%;
}

.info-text {
   text-align: center;
}

mat-spinner {
   margin: auto;
}