mat-card {
   margin: auto;
   margin-top: 50px;
   width: 25%;
   padding: 30px;
   
   mat-card-title, mat-card-subtitle {
      text-align: center;
   }
   
   mat-form-field {
      width: 100%;
   }

   mat-card-actions {
      margin: 0;
      text-align: right;
   }

   mat-spinner {
      margin: auto;
   }
   
}
