<mat-card class="post-create">
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="postForm" (submit)="onSavePost()"*ngIf="!isLoading">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="postForm.get('title').invalid">Please enter valid title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" color="primary"(click)="filePicker.click()"> Pick Image </button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="postForm.value.title">
    </div>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" formControlName="content"></textarea>
      <mat-error *ngIf="postForm.get('content').invalid">Please enter valid content</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary"  type="submit"> Save Post </button>
  </form>

</mat-card>