.container.practise-zone {
   height: 500px;

   .hero {
      height: 50%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../../assets/create-card.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10% auto;

      .hero-profile {
         height: 100%;
         width: 100%;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0.7);
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         transition: 1s;

         svg {
            height: 24px;
            width: 24px;
         }

         // img {
         //    height: 30px;
         // }
      }

      &:hover {
         cursor: pointer;
         box-shadow: 0 1px 15px 0 rgba(0,0,0,.2);

         .hero-profile {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);

            .name {
               color: white;
            }

            .edit-btn {
               display: inline-block;
               border: 1px solid;
               border-color: white;
               border-radius: 100%;
               padding: 7px 10px;

               svg {
                  color: white;
                  height: 24px;
                  width: 24px;
               }
            }
         }
      }
   
   }
}